<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">

  <title>Gallery</title>
</head>
<body>
  <h1 class="gallery">Mr. Cena's art gallery.</h1>
  <div class="worksdiv">
    <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoShsym-YwyLnzx5f148y_CFp26al5Z7JxBg&usqp=CAU" alt=""></div>
    <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoShsym-YwyLnzx5f148y_CFp26al5Z7JxBg&usqp=CAU" alt=""></div>
    <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoShsym-YwyLnzx5f148y_CFp26al5Z7JxBg&usqp=CAU" alt=""></div>
    <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoShsym-YwyLnzx5f148y_CFp26al5Z7JxBg&usqp=CAU" alt=""></div>
    <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoShsym-YwyLnzx5f148y_CFp26al5Z7JxBg&usqp=CAU" alt=""></div>
    <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoShsym-YwyLnzx5f148y_CFp26al5Z7JxBg&usqp=CAU" alt=""></div>
    <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoShsym-YwyLnzx5f148y_CFp26al5Z7JxBg&usqp=CAU" alt=""></div>
    <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoShsym-YwyLnzx5f148y_CFp26al5Z7JxBg&usqp=CAU" alt=""></div>
    <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoShsym-YwyLnzx5f148y_CFp26al5Z7JxBg&usqp=CAU" alt=""></div>
    <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoShsym-YwyLnzx5f148y_CFp26al5Z7JxBg&usqp=CAU" alt=""></div>
    <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoShsym-YwyLnzx5f148y_CFp26al5Z7JxBg&usqp=CAU" alt=""></div>
    <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoShsym-YwyLnzx5f148y_CFp26al5Z7JxBg&usqp=CAU" alt=""></div>

    <a class="worklinks" href="/gallery">See pictures of the legend.</a>
    <a class="worklinks" href="/about">Learn about the legend.</a>
    <a class="worklinks" href="/home">Return to the homepage.</a>
  </div>
</body>
</html>