<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">

  <title>Home</title>
</head>
<body>
<div class="homediv">
  <h1 id="homeh1">Welcome to the John Cena Home page!!!!</h1> 
    <a href="/works">Click here to see the legends work.</a>
    <a href="/gallery">Click here to go to the gallery.</a>
    <a href="/about">Click here to go learn about Mr. Cena.</a>
    <div class="homeimg">
      <img class="homeimg" src="https://www.mypokecard.com/my/galery/dyJHkxA3Zb5p.jpg" alt="">
    </div>
   


</div>
</body>
</html>