<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">

  <title>Works</title>
</head>
<div class="worksmenu"></div>
<a href="/home">Click here to go back to the Homepage</a>
<a href="/gallery">Click here to go to the gallery</a>
<a href="/about">Click here to go learn about Mr. Cena</a>
<body>
  <div class="videos">
    <h1>Here is some of Mr. Cena's best work.</h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/H8zEFcKp53o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="videos">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IHKVACyiL_g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="videos">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Q3bhIM-rnG8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
 

 
</body>
</html>